@import '../../config';

.bjcp.container.content {
  a {
    color: $pink-color;

    &:visited {
      color: $pink-color;
    }
  }
  h1 {
    text-align: center;
    font-size: 2.5rem;
    color: $heading-color;
  }

  .table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    gap: 1px;
    box-shadow: 0 0 15px 0 lightgray;
  }

  .category,
  .style,
  .discription {
    outline: 1px solid lightgray;
  }

  ul {
    list-style: none;
    font-size: 14px;
    display: grid;
    gap: 1px;

    font-weight: bold;
    color: $heading-color;
  }

  ul li {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: 1px solid lightgray;

    &:hover {
      background-color: rgba($color: $yellow-color, $alpha: 0.2);
      cursor: pointer;
    }
  }

  .clicked {
    background-color: rgba($color: $yellow-color, $alpha: 0.2);
  }

  span {
    display: block;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    outline: 1px solid lightgray;

    background-color: rgba($color: $orange-color, $alpha: 0.2);
  }

  .disc-text {
    padding: 1rem 1.5rem;
    // outline: 1px solid lightgray;

    h1 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    h2 {
      font-size: 1rem;
      margin: 1rem 0;
    }

    p {
      font-size: 1.1rem;
      font-weight: 400;
    }

    table {
      td {
        padding: 5px 0;

        &:nth-child(even) {
          font-weight: bold;
          width: 60%;
          text-align: right;
        }
      }
    }
  }
}

@import 'bjcp-media';
