@import '../../config';

#bjcp {
  margin-top: 1rem;

  .bjcp-heading {
    display: flex;
    justify-content: center;
  }

  a {
    color: $pink-color;

    &:visited {
      color: $pink-color;
    }
  }
  h1 {
    text-align: center;
    font-size: 2.5rem;
    color: $heading-color;
  }

  // ШАПКА ТАБЛИЦЫ
  .bjcp-head {
    ol {
      display: flex;
      list-style: none;

      li {
        min-width: 201px;
        background-color: rgba($color: $orange-color, $alpha: 0.2);
        border: 1px solid lightgray;
        color: #000000;
        padding: 0.5rem;
        text-align: center;
        font-weight: bold;
      }

      .column-3 {
        width: 100%;
      }
    }
  }

  .flex-column {
    display: flex;
    flex-flow: column;
  }

  // ТАБЛИЦА

  .table-area {
    border: 1px solid lightgray;
    box-shadow: 0 0 15px 0 #000000;
    display: flex;

    ul {
      list-style: none;
      font-size: 14px;
      font-weight: bold;
      color: $heading-color;
      // padding: 0 5px;

      li {
        height: 65px;
        // line-height: 65px;
        text-align: center;

        border: 1px solid lightgray;

        &:hover {
          background-color: rgba($color: $yellow-color, $alpha: 0.2);
          cursor: pointer;
        }
      }
    }

    #style {
      width: 200px;
    }

    .table-cells {
      width: 200px;
    }

    #discription {
      display: flex;
      width: 100%;
      border: 1px solid lightgray;
      line-height: 1.6;
      padding: 1rem 1.5rem;

      h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
      }

      h2 {
        font-size: 1rem;
        margin: 1rem 0;
      }

      p {
        font-size: 1.1rem;
        font-weight: 400;
        color: #000000;
      }

      table td {
        padding: 5px 0;

        &:nth-child(even) {
          font-weight: bold;
        }
      }
    }
  }
}
