@import '../../config';

.short-beer-card {
  margin-top: 5rem;
  background-color: rgba($color: $yellow-color, $alpha: 0.1);
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid $main-color;
  box-shadow: 0 0 10px 0 $main-color;

  .short-beer-name {
    margin-bottom: 3rem;

    span {
      font-family: 'Exo 2', sans-serif;
      font-size: 2.5rem;
      color: $main-color;
      font-weight: bold;
      letter-spacing: 2px;
      &.small {
        font-size: 1.7rem;
      }
    }

    i {
      font-weight: 300;
    }
  }

  .short-beer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    line-height: 1.2rem;
    gap: 1rem;

    > div {
      height: 3rem;
      display: flex;
      align-items: center;
    }

    .short-grid-item1 {
      font-family: 'Exo 2', sans-serif;
      font-size: 1.2rem;
      font-weight: bold;

      color: $orange-color;

      padding-left: 0.5rem;
      border-left: 5px solid $yellow-color;
      border-radius: 5px;
    }

    .short-grid-item2 {
      font-weight: 300;
      justify-content: center;
      text-align: center;
    }
  }

  .short-beer-date-flavour {
    display: flex;
    margin-top: 2rem;
    font-weight: 300;

    .short-date {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      border: 1px solid lightgray;
      border-left: none;
      padding: 1rem;

      letter-spacing: 1px;
    }

    .short-flavour {
      width: 100%;
      border: 1px solid lightgray;
      border-right: none;
      padding: 1rem;
      text-align: center;
      letter-spacing: 1px;

      strong {
        color: $pink-color;
      }
    }
  }
}
