@import '../../config';
#home {
  .home-heading {
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.5s ease-in-out;
    margin-bottom: 4rem;

    h1 {
      text-align: center;
      font-size: 2.5rem;
      color: $heading-color;
    }
  }

  .line2 {
    margin: 4rem auto 3rem auto;
    width: 100%;
    height: 1px;
    background-color: lightgray;
  }

  .images {
    text-align: center;
    margin: 2rem 0 2rem 0;
    visibility: hidden;
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    img {
      width: 25%;
    }
  }
  .show {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
}

// .wrap {
//   height: 0;
// }
