// Tablets and smaller
@media (max-width: 850px) {
  .header-home {
    min-height: 100vh;
    .showcase {
      .video-container {
        display: none;
      }

      .title {
        margin-top: 7rem;
      }
    }
  }
}

// Smartphone
@media (max-width: 500px) {
  .header-home {
    .showcase {
      .title {
        margin-top: 20rem;

        h1 {
          font-size: 2rem;
        }

        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }
}

// Small smartphones
@media (max-width: 370px) {
  .header-home {
    .showcase {
      .title {
        h1 {
          font-size: 1.5rem;
        }

        h2 {
          font-size: 1rem;
        }
      }
    }
  }
}

// Landscape
@media (max-height: 450px) {
  .header-home {
    height: 120vh;

    .showcase {
      .title {
        h1 {
          font-size: 2.5rem;
        }

        h2 {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-height: 320px) {
  .header-home {
    .showcase {
      .title {
        h1 {
          font-size: 2rem;
        }

        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }
}
