.showcase {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.7);
    }

    video {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .title {
    z-index: 1;

    h1 {
      font-size: 60px;
      font-weight: 100;
      line-height: 1.5;
      letter-spacing: 5px;
    }

    h2 {
      margin-top: 2rem;
      font-size: 40px;
      font-weight: 100;
      letter-spacing: 5px;
    }
  }
}
