@import '../../config';

.tech {
  button {
    border: none;
    background: $bg-button;
    background-size: cover;
  }

  .tech-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .images {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
    }
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
  }

  .tech-content {
    margin-top: 3rem;

    h2 {
      font-size: 2rem;
      margin-top: 2rem;
    }

    h3 {
      font-size: 1.8rem;
      margin-top: 2rem;
    }

    p {
      margin-top: 1rem;
    }

    i {
      font-family: Times, sans-serif;
      font-size: 1.2rem;
    }

    .hop-4 {
      img {
        width: 100%;
        height: auto;
      }
    }

    a {
      color: $pink-color;

      &:visited {
        color: $pink-color;
      }
    }

    ul {
      list-style-position: inside;
      list-style-type: circle;

      li {
        font-family: Times, sans-serif;
        font-size: 1.3rem;
        line-height: 1.4;
        margin: 0.5rem 0;
      }
    }
  }
}

@import 'technology-media';
