// VARIABLES

$website-width: 1280px;
$main-color: #2d4059;
$heading-color: #000000;
$pink-color: #ea5455;
$orange-color: #f07b3f;
$yellow-color: #ffd460;
$bg-image: url('./assets/images/background-dark.webp') top center/100%;
$bg-button: url('../../assets/images/upToTop.png');

.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
}

.content {
  color: #000000;
  background-color: #f4f4f4;
  padding: 3rem 4rem;
  box-shadow: 0 0 20px 0 #f4f4f4;
  border-radius: 10px;
}

.img_discription {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.back_to_top {
  position: fixed;
  bottom: 3rem;
  right: 4rem;
  z-index: 2;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.5s;
  display: none;
}

.back_to_top:hover {
  transform: scale(1.3);
  transition: all 0.5s;
}

.show {
  display: block;
}

// Margin-left
.ml {
  margin-left: 2rem;
}

.bottom-line {
  border-bottom: 5px solid $orange-color;
  padding-bottom: 1rem;
}
